
p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 28px;
	a {
		font-weight: 700;
		color: $gold;
		&:hover {
			color: $gold;
			opacity: 0.6;
		}
	}
}

a {
	font-weight: 700;
	color: $gold;
	&:hover {
		color: $gold;
		opacity: 0.6;
	}
	&:visited {
		font-weight: 700;
		color: $gold;
	}
}

ul li {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 28px;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 72px;
	margin: 0 0 .5em;
	line-height: 1.05em;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	letter-spacing: 1px;
	margin: 0 0 .5em 0;
	text-transform: capitalize;
	line-height: 1.25em;
	font-weight: 200;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 45px;
	font-weight: 200;
	text-transform: none;
	margin: 0 0 .5em 0;
}

h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: .5em 0;
	line-height: 1.25em;
}

blockquote {
	margin: 0;
	p {
		color: $gold;
		font-weight: 700;
		padding: 10px 0 10px 35px;
		border-left: 15px solid $gold;
	}
}

ul {
	margin: 0;
	color: $gold;
	li{
		color: $gold;
		font-weight: 700;
		margin: 10px 0;
	}
}


@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: uppercase;
		font-size: 28px;
		margin: .5em 0;
	}

	h3 {
		font-size: 20px;
		margin: .5em 0;
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: none;
	}
}

@media only screen and (max-width: 800px) {
	h1 {
		font-size: 25px;
	}
}